.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    .loginSection {
        border: 1px solid #989898;
        width: 850px;
        height: 322px;
        border-radius: 8px;
        display: flex;
        flex-flow: row nowrap;
        overflow: hidden;
        margin: 10px;

        .leftSide {
            // width: 400px;
            width: min(50%, 400px);
            height: 100%;
            background: #3c4b64;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;

            .leftSideText {
                font-family: "IRANYekanFN";
                font-size: 64px;
                font-weight: 900;
                line-height: 110.55px;
                color: #ffffff;
                background: url("../../assets/images/biztak-logo.svg");
                background-size: 82px;
                background-repeat: no-repeat;
                background-position: right;
                padding-right: 91px;
                margin-right: 6px;
            }
        }

        .rightSide {
            background: white;
            width: 100%;
            padding: 50px 45px;
            direction: rtl;

            .sectionHeader {
                font-family: IRANYekanFN;
                font-size: 36px;
                font-weight: 500; // I don't have 700
                line-height: 62.18px;
                color: black;
            }

            .formContainer {
                display: flex;
                flex-flow: column nowrap;
                gap: 8px;
                margin: 16px 0;

                .usernameContainer,
                .passwordContainer {
                    width: 100%;
                    position: relative;

                    input {
                        width: 100%;
                        height: 40px;
                        background-color: #ebedef;
                        border: 1px solid #989898;
                        transition: background-color 0.15s;
                        padding-right: 10px;
                        font-size: 18px;

                        &:focus {
                            outline: none;
                        }

                        &:hover {
                            background-color: rgb(240, 242, 244);
                        }
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 48px;
                        height: 100%;
                        box-sizing: border-box;
                        background: url("../../assets/images/icons/login/username-icon.svg")
                                center/16px no-repeat,
                            #9da5b1;
                        border: 1px solid #989898;
                    }
                }

                .passwordContainer {
                    &::after {
                        background: url("../../assets/images/icons/login/password-icon.svg")
                                center/23px no-repeat,
                            #9da5b1;
                    }
                }
            }
        }

        .bottomSection {
            // border: 1px solid red;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .submitBtn {
                font-family: "IRANYekanFN";
                font-size: 16px;
                font-weight: 400;
                line-height: 27.64px;
                padding: 6px 24px;
                background: #321fdb;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.15s;

                &:hover {
                    background: #3522e7;
                }

                &:active {
                    background: #311fd7;
                }
            }

            .forgerPassword {
                font-family: IRANYekanFN;
                font-size: 12px;
                font-weight: 400;
                line-height: 20.73px;
                color: #321fdb;
                cursor: pointer;
                transition: color 0.15s;
                white-space: nowrap;
                padding-right: 10px;

                &:hover {
                    color: #2d1cc6;
                }
            }
        }
    }
}

@media (max-width: 680px) {
    .loginSection {
        display: flex;
        flex-flow: column nowrap !important;
        width: 100% !important;
        height: 644px !important;
    }

    .leftSide {
        height: 50% !important;
        width: 100% !important;
    }
}
